@import 'bootstrap';

// Elements 
a { color:#777; }
a:hover {
  color:#999;
  text-decoration:none;
}

//Classes
.nav {
  padding-left:0px !important;
  .login-image {
    height:35px;
    border-radius:35px; 
    margin-right:10px;
  }
   a { cursor: pointer; }
  .dropdown {
    .dropdown-menu {
      margin-top:30px;
    }    
  }

  .nav-logo {
    font-size:18px;
    height:10px;
    magin:0px;
    margin-top:5px;    
  }
}

.side-nav {
  width: 150px;
  position:fixed;
  left:0px;
  top: 53px;
  height:100vh;
  border-right:1px solid #BDBDBD;

  a.item {
    padding:10px;      
    border-bottom:1px solid #BDBDBD;
    cursor: pointer;
    color:#777;
    display:block;
    width:100%;
    .fa {
      margin-right:5px;
    }
  }
  div.subsection {
    padding:10px;
    padding-bottom:5px;
    margin-top:10px;
    border-bottom:2px solid #BDBDBD;
    background:white;
    font-weight:bold;
    text-align: center;    
    color:#777;
    display:block;
    width:100%;
  }


  a.active {
    background-color:#DADADA;
  }

  a.item:hover {
    background-color:#ADADAD;
    text-decoration:none;
  }
}

.modal { 
  z-index: 9999;
  position:absolute;
}

.modal-backdrop { 
 display:none;

}

.alert {
  .fa {
    margin-right: 20px;
  }
}
.page-content {
  width: calc(100vw - 150px);
  left: 150px;
  position:fixed;
  padding:10px;
  padding-bottom:20px;
  top:50px;
  height: calc(100vh - 40px);
  overflow-y:scroll;
}



.offices {
  .list {
    .card {
      cursor: pointer;
    }
  }
  .card {
    .card-title { 
      margin-top:10px;
      .fa { 
        font-size:32px;
        margin-right:25px;
      }
    }
  }
}

.children {
  .list {
    .card {
      cursor: pointer;
    }
  }

  .card {
    .card-title { 
      margin-top:10px;
    }

    .status {
      display: inline-block;
      float:right;
      margin-right:25px;
    }
    .status:first-letter {
      text-transform: capitalize;
    }

    .avatar {      
      height:35px;
      border-radius:35px; 
      margin-right:10px;
      margin-left:10px;
    }
  }
}

.actions {
  padding:10px 0px 10px 0px;
  margin-bottom:15px;
  width:100%;

  .btn-group {
    .fa {
      margin-left: 10px;
    }

  }
}


.actions .search {
  float:right;
}